@model NomiPro.ModelDB.TIPO_VINCULACION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar tipo de vinculación</h2>

<h3>¿Esta seguro que desea eliminar este empleado de la lista?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label><b>Descripción</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            <label><b>Estado de vinculación</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="¡Borrar!" class="btn btn-outline-danger " />
    <a href="~/TIPO_VINCULACION/index" class="btn btn-primary waves-effect">Volver atras</a>
</div>
    }
</div>
