@model NomiPro.ModelDB.CARGOS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar información de cargo </h2>

<h3>¿Esta seguro que desea eliminar este empleado de la lista?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label><b>Nombre de cargo</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
           <label><b>Estado de cargo</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
           <label><b>Valor de cargo</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_cargo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="¡Borrar!" class="btn btn-outline-danger " />
    <a href="~/CARGOS/index" class="btn btn-primary waves-effect">Volver atras</a>
    
</div>
    }
</div>
