
@{
    ViewBag.Title = "GestionTablas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GestionTablas</h2>

<p>
    <a href="~/CARGOS/index" class="btn btn-primary">Cargos</a>
</p>

<p>
    <a href="~/CONTROL_PAGO/index" class="btn btn-primary">Control de pagos</a>
</p>

<p>
    <a href="~/EMPLEADOS/index" class="btn btn-primary">Empleados</a>
</p>

<p>
    <a href="~/HETRAXEMPLEADOes/index" class="btn btn-primary">Horas extras por empleado</a>
</p>

<p>
    <a href="~/HORA_EXTRAS/index" class="btn btn-primary">Horas extras</a>
</p>

<p>
    <a href="~/HORARIOs/index" class="btn btn-primary">Horarios</a>
</p>

<p>
    <a href="~/PARAFISCALES/index" class="btn btn-primary">Parafiscales</a>
</p>

<p>
    <a href="~/PARAXEMPLEs/index" class="btn btn-primary">Parafiscales por empleado</a>
</p>

<p>
    <a href="~/TIPO_VINCULACION/index" class="btn btn-primary">Tipo Vinculacion</a>
</p>
