@{
    ViewBag.Title = "Home Page";
}
   


    <div class="jumbotron" style="background-color:#2F3E47">

        <div id="demo" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="rounded" src="~/Img/1.jpg" alt="Los Angeles" width="950" height="500">
                    <div class="carousel-caption">
                        <img src="~/Nomicon.png" alt="user-img" title="Este es nuestro logo :3" class="rounded-circle img-responsive" width="50" height="50">
                        <a href="~/Home/index" class="logo"><span>Nomi<span>Pro</span></span><i class="mdi mdi-layers waves-effect"></i></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="rounded" src="~/Img/2.jpg" alt="Los Angeles" width="950" height="500">
                    <div class="carousel-caption">
                        <img src="~/Nomicon.png" alt="user-img" title="Este es nuestro logo :3" class="rounded-circle img-responsive" width="50" height="50">
                        <a href="~/Home/index" class="logo"><span>Nomi<span>Pro</span></span><i class="mdi mdi-layers waves-effect"></i></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="rounded" src="~/Img/3.jpg" alt="Los Angeles" width="950" height="500">
                    <div class="carousel-caption">
                        <img src="~/Nomicon.png" alt="user-img" title="Este es nuestro logo :3" class="rounded-circle img-responsive" width="50" height="50">
                        <a href="~/Home/index" class="logo"><span>Nomi<span>Pro</span></span><i class="mdi mdi-layers waves-effect"></i></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div class="container">


            <div class="row">
                ______________________________________________________________________________________________________________________
                <hr style="border-color:red;">
                <div class="col-md-7">
                    <img margin-right:30px; class="img-responsive, rounded" src="~/Img/5.jpg" width="600" height="300" />

                </div>

                <div class="col-4">
                    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" Style="text-decoration-color:lightgray">Dando clic en este botón se podrá crear nuevos empleados, sólamente tenemos que llenar el registro.</h3>
                </div>


            </div>

            ______________________________________________________________________________________________________________________
            <br />
            <br />
            <div class="row">

                <div class="col-5">
                    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" Style="text-decoration-color:lightgray">Dando clic en el botón de detalles, podremos visualizar la información del empleado y podremos editarla si lo deseamos.</h3>
                </div>

                <div class="col-md-7">
                    <img class="img-responsive, rounded" src="~/Img/6.jpg" width="600" height="300" />
                </div>


            </div>
            ______________________________________________________________________________________________________________________
            <br />
            <br />
            <div class="row">

                <div class="col-md-7">
                    <img class="img-responsive, rounded" src="~/Img/7.jpg" width="600" height="300" />
                </div>

                <div class="col-5">
                    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" Style="text-decoration-color:lightgray">Dando clic en el botón editar, se podrá modificar toda la información del empleado.</h3>
                </div>


            </div>
            ______________________________________________________________________________________________________________________
            <br />
            <br />
            <div class="row">

                <div class="col-5">
                    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" Style="text-decoration-color:lightgray">Dando clic en el botón de eliminar, podremos descartar la información que se ha agregado anteriormente.</h3>
                </div>

                <div class="col-md-7">
                    <img class="img-responsive, rounded" src="~/Img/8.jpg" width="600" height="300" />
                </div>


            </div>
            ______________________________________________________________________________________________________________________
        </div>



    </div>