@model NomiPro.ModelDB.PARAXEMPLE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar parafiscales por empleado</h2>

<h3>¿Esta seguro que desea eliminar este empleado de la lista?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
          <label><b>Mes</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
           <label><b>Nombre de empleado</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.Nombre)
        </dd>

        <dt>
            <label><b>Nombre de parafiscales</b></label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAFISCALES.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="¡Borrar!" class="btn btn-outline-danger " />
    <a href="~/PARAXEMPLEs/index" class="btn btn-primary waves-effect">Volver atras</a>
</div>
    }
</div>
